<plugin name='flex-scaffold' version='0.2-beta' grailsVersion='1.1 &gt; *'>
  <author>Ezequiel Martin Apfel</author>
  <authorEmail>eapfel@cubika.com</authorEmail>
  <title>Grails Flex Scaffold (GFS)</title>
  <description>Provide scaffolding with flex</description>
  <documentation>http://grails.org/plugin/flex-scaffold</documentation>
  <resources>
    <resource>BuildConfig</resource>
    <resource>DataSource</resource>
    <resource>GrailsFlexScaffoldFilters</resource>
    <resource>UrlMappings</resource>
    <resource>FileUploadController</resource>
  </resources>
  <dependencies />
</plugin>